body {
	padding: 50px 0 0 0;
}

div {
	display: block; }

a {
	color: #000;
	font-weight: bold;
	text-decoration: none; }

a:hover {
	text-decoration: underline; }

div.info-block {
	margin: 0 auto;
	width: 600px; }

#eula p {
	margin: 2px 0; }

#eula p.section {
	margin-top: 10px; }

#eula p.section.links {
	margin: 25px 0 50px;
	text-align: center; }

h1 {
	text-align: center; }

#get-details form label {
	display: inline-block;
	width: 50%;
	text-align: right; }

#get-details div {
	width: 100%; }

#get-details h3 {
	text-align: center; }

#get-details p {
	text-align: center; }

#get-details label {
	margin-bottom: 10px;
	font-weight: bold;
}

#get-details input.submit {
	display: block;
	margin: 10px auto; }
