@CHARSET "UTF-8";

body {
	background: url('../images/bg.png') repeat 0 0 #1B1B24;
	color: #ccc;
	font-family: 'DejaVu Sans Mono', 'Verdana', 'Arial', serif;
}

body.dark .saint-admin-overlay, body.dark .saint-admin-menu, body.dark .saint-admin-options {
	border-color: #aa4400;
}

a {
	color: #fff;
}

#header {
	width: 100%;
	height: 70px;
	background: #293458;
	border-bottom: 3px solid #111;
}

.logo {
		background: url('../images/aparadine-logo-black-and-orange2-small.png') no-repeat 0px 0px transparent;
		display: block;
		width: 377px;
		height: 50px;
		position: absolute;
		top: 10px;
		left: 10px;
		margin: 0;
		z-index: 50;
}

#container {
	width: 100%;
	padding: 50px 0 25px;
	background: transparent;
	box-shadow: none;
	border: none;
}

#menu-center {
	margin: 0;
}

nav {
	top: 25px;
	left: inherit;
	right: 10px;
}

nav a {
	border-color: #aa4400;
	background-color: #000;
	color: #ccc;
	box-shadow: 3px 3px 5px #000;
}

nav a.current {
	color: #fff;
	box-shadow: 3px 3px 5px #000;
}

nav a:hover {
	background: #293458;
	color: #fff; }

#content {
	float: none;
	width: auto;
	padding: 0 10px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: #aa4400;
}

#content .columns p {
	font-family: 'Verdana', serif;
	padding: 0 5px;
	text-align: justify;
	color: #7e9db1;
}

.home .columns.four {
	margin-top: 40px;
}

.columns .column {
	height: 20px;
}

.columns.four .column {
	width: 24%;
}

.columns.four .middle {
	width: 49%;
}

.columns.four .middle .column {
	width: 48%;
}

.columns .column.left {
	float: left;
}

.columns .column.middle {
	margin: 0 auto;
}

.columns .column.right {
	float: right;
}