@CHARSET "UTF-8";

html,body {
	height: 100%; }

body {
	background: url('../images/bg.png') repeat 0 0 #1B1B24;
	color: #ccc;
	font-family: 'DejaVu Sans Mono', 'Verdana', 'Arial', serif;
}

body.dark .saint-admin-overlay, body.dark .saint-admin-menu, body.dark .saint-admin-options {
	border-color: #aa4400;
}

a {
	color: #fff;
	font-weight: bold;
}

#header {
	width: 100%;
	height: 70px;
	background: #293458;
	border-bottom: 3px solid #111;
	position: absolute;
	top: 0;
	left: 0;
}

.logo {
		background: url('../images/aparadine-logo-black-and-orange2-small.png') no-repeat 0px 0px transparent;
		display: block;
		width: 377px;
		height: 50px;
		position: absolute;
		top: 10px;
		left: 10px;
		margin: 0;
		z-index: 50;
}

#container {
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0;
}

#menu-center {
	margin: 0;
}

nav {
	top: 25px;
	left: auto;
	right: 10px;
}

nav a {
	border-color: #aa4400;
	background-color: #000;
	color: #ccc;
	box-shadow: 3px 3px 5px #000;
}

nav a.current {
	color: #fff;
	box-shadow: 3px 3px 5px #000;
}

nav a:hover {
	background: #1B1B24;
	color: #fff; }

#content {
	float: none;
	width: auto;
	padding: 125px 10px 25px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: #aa4400;
}

.content p {
	text-align: left;
}

#content p {
	font-family: 'Verdana', serif;
}

#content .columns p {
	padding: 0 5px;
	text-align: justify;
	color: #7e9db1;
}

.home .columns.four {
	margin-top: 40px;
	clear: both;
}

.columns .column {
	float: left;
}

.columns.four .column {
	width: 24%;
}

.columns.four .column {
	margin: 0 0.5%;
}

.columns.four .column:last-child {
	margin: 0 0 0 0.5%;
}

#saint-contact-form label, #saint-contact-form .saint-label {
	display: block;
	width: 100%;
	font-weight: bold;
	margin-bottom: 1px;
}

#content .content {
	margin: 0 auto;
	max-width: 960px;
	line-height: 25px;
}

.about img {
	float: right;
	margin: 0 0 5px 10px;
	border: 1px solid #999;
}
