@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #fff;
	padding: 0;
	margin: 0;
	font-size: 10px;
}

div {
	display: block; }

a {
	color: #333;
	text-decoration: none; }

a:hover {
	text-decoration: underline; }

a.disabled:hover {
	cursor: default; }

#content a {
	font-weight: bold; }

p {
	margin-top: 0;
	font-size: 1.4em;
}

.hidden {
	display: none; }

.error {
	font-weight: bold;
	color: red; }

.link {
	font-weight: bold; }

.link:hover {
	cursor: pointer;
	text-decoration: underline; }

.link.bubble {
	display: inline;
	padding: 2px 5px 0;
	border: 1px solid #d1d1d1;
	color: #444;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
	background: rgb(219,219,219);
	background: -moz-linear-gradient(top, rgba(219,219,219,1) 0%, rgba(225,229,234,1) 27%, rgba(225,229,234,1) 48%, rgba(219,219,219,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,219,219,1)), color-stop(27%,rgba(225,229,234,1)), color-stop(48%,rgba(225,229,234,1)), color-stop(100%,rgba(219,219,219,1)));
	background: -webkit-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(225,229,234,1) 27%,rgba(225,229,234,1) 48%,rgba(219,219,219,1) 100%);
	background: -o-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(225,229,234,1) 27%,rgba(225,229,234,1) 48%,rgba(219,219,219,1) 100%);
	background: -ms-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(225,229,234,1) 27%,rgba(225,229,234,1) 48%,rgba(219,219,219,1) 100%);
	background: linear-gradient(to bottom, rgba(219,219,219,1) 0%,rgba(225,229,234,1) 27%,rgba(225,229,234,1) 48%,rgba(219,219,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#dbdbdb',GradientType=0 );
}

#container {
	width: 880px;
	margin: 0 auto -25px;
	position: relative;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-top: none;
	box-shadow: 0px 0px 15px #333;
	padding: 175px 20px 0;
}

.logo {
		background: url('../images/logo.png') no-repeat 0px 0px transparent;
		display: block;
		width: 368px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -158px;
		text-decoration: none;
}

.logo:hover {
	text-decoration: none; }

#content {
	width: 660px;
	float: left;
}

.blog #content {
	width: 650px;
}

#content h1 {
	margin-top: 0; }

#sidebar {
	width: 200px;
	float: right;
}


#sidebar .nav h4 {
	margin-left: 5px;
}

a.addthis_button_compact {
	font-size: 14px;
}

.addthis_toolbox {
	margin: 10px 0;
}

.comments .add-button {
	margin: 10px 0;
}

.comment {
	padding-left: 10px;
	font-size: 1.4em;
}

.blog-post .comment h6 {
	font-weight: normal;
	font-size: 1em;
}

nav {
	position: absolute;
	left: 50%;
	top: 100px;
	z-index: 70;
}

#menu-center {
	margin-left: -50%;
}

nav a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	box-shadow: 3px 3px 5px #888888;
	border: 1px solid #333;
	font-size: 1.6em;
}

nav a.current {
	color: #003366;
	box-shadow: 3px 3px 5px #003366;
}

nav a:hover {
	background: #003366;
	color: #fff; }

.toplevel a {
	padding: 2px 10px;
	margin: 0px 2px 10px; }

nav ul.toplevel {
	padding: 0px;
	margin: 0px;}

nav li {
	display: inline; }

nav li.toplevel {
	position: relative; }

nav .toplevel ul {
	position: absolute;
	left: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: -10px;
	padding-top: 10px;
	display: none; }

nav .toplevel:hover > ul, #saint_navigation_menu .toplevel ul:hover {
	display: block; }

.saint-templates {
	position: absolute; }

.saint-admin-overlay {
	z-index: 100;
	position: fixed;
	top: 0px;
	height: 20px;
	right: 10px;
	width: 100px;
	background: #efefef;
	border-style: solid;
	border-color: #b7b7b7;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	overflow: hidden;
}

.saint-admin-overlay .saint-label {
	font-size: 1.2em;
}

.saint-templates, .saint-admin-overlay, .saint-block .add-button {
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.saint-admin-overlay h4, .saint-admin-overlay h5 {
	margin: 2px 0 5px;
	clear: both;
}

.saint-admin-overlay .saint-logo {
	position: absolute;
	right: 25px;
	top: 0px;
	height: 20px;
	width: 74px;
	background: url('../images/saint-logo.png');
	z-index: 101;
}

body.dark .saint-admin-overlay, body.dark .saint-admin-options.current-page, body.dark .saint-admin-block {
	background: #333510;
	color: #ccc;
	border-color: #666;
}

body.dark .saint-admin-overlay .saint-logo {
	background: url('../../../core/images/saint-logo-white-small.png') no-repeat 0px 0px transparent;
}

body.dark .link {
	color: #fff; }

.saint-ajax-indicator {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	background: url('../images/success.png') no-repeat;
	z-index: 101;
}

.saint-ajax-indicator.enabled {
	background: url('../images/ajax-loader.gif') 2px 2px no-repeat;
}

.saint-ajax-indicator.error {
	background: url('../images/error.png') no-repeat;
}

.saint-pin {
	position: absolute;
	top: 0;
	right: 105px;
	width: 17px;
	height: 20px;
	background: url('../images/pin.png') no-repeat;
	z-index: 101;
}

.saint-admin-menu {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	right: 0;
	top: 0;
	width: 500px;
	height: 22px;
	z-index: 100;
}

.sbn-navigation_menu-item a {
	white-space: nowrap;
}

.sbn-navigation_menu-item .block-item {
	display: inline;
}

body.dark .saint-admin-menu {
	border-color: #666;
}

body.dark .saint-admin-code input, body.dark .saint-admin-code select, body.dark .saint-admin-code textarea {
	background: #333;
	color: #fff;
	border-color: #666;
}

.saint-admin-menu li.link.bubble {
	display: block;
	float: left;
	height: 17px;
	margin: 0 0 0 5px;
	border-top: none;
  -moz-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.saint-admin-menu a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.saint-action-log {
	position: absolute;
	right: 0px;
	top: 28px;
	width: 230px;
	padding: 5px 10px;
	height: 262px;
	overflow: auto;
}

.saint-action-log p {
	font-size: 10px;
}

.saint-admin-options.current-page {
	position: fixed;
	width: 210px;
	padding: 0 0 0 10px;
	height: 400px;
	left: -300px;
	top: 25px;
	display: block;
	background: #fff;
	z-index: 80;
	overflow: auto;
	border: 1px solid #333;
	-moz-box-shadow: 0 0 10px 2px #195894;
	-webkit-box-shadow: 0 0 10px 2px #195894;
	box-shadow: 0 0 10px 2px #666;
	transition: all 250ms;
	-moz-transition: all 250ms; /* Firefox 4 */
	-webkit-transition: all 250ms; /* Safari and Chrome */
	-o-transition: all 250ms; /* Opera */
}

.saint-admin-options.current-page.visible {
	left: 25px;
}

.saint-admin-options.current-page select, .saint-admin-options.current-page input, .saint-admin-options.current-page textarea {
	width: 200px; }

.saint-admin-options.current-page select {
	height: auto; }

.saint-admin-options.current-page label {
	margin: 10px 0 2px 0;
	display: block;
	font-weight: bold; }

.saint-admin-options.current-page ul {
	list-style: none;
	padding: 0;
}

.saint-admin-options.current-page .close-button {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
}

#sfm-close-button {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 15px;
	width: 15px;
	background-size: 15px 15px;
	z-index: 94;
}

#ssm-close-button {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 15px;
	width: 15px;
	background-size: 15px 15px;
}

.close-button {
	display: block;
	height: 20px;
	width: 20px;
	background-image: url('../images/close.png');	
}

body.dark .close-button {
	background-image: url('../images/close-white.png');
}

.saint-admin-options.current-page .close-button, .close-button.delete {
	width: 10px;
	height: 10px;
	background-size: 10px;
}

.close-button:hover {
	text-decoration: none;
}

.category-edit .close-button {
	float: left;
	margin-top: 2px;
	margin-right: 2px;
	width: 10px;
	height: 10px;
	background-size: 10px 10px;
}

.saint-admin-options.current-page .close-button:hover {
	cursor: pointer; }

.saint-label {
	font-size: 1.4em;
}

.saint-label textarea {
	width: 100%;
	height: auto; }

.saint-admin-options {
	position: absolute;
	right: 250px;
	top: 28px;
	width: 230px;
	padding: 5px 10px;
	height: 262px;
	overflow: auto;
}

body.dark .saint-admin-options {
	border-color: #666;
}

.hud {
	color: #0d8a00;
	font-weight: bold;
}

.hud.error {
	color: red;
}

.saint-admin-options .page-list, .saint-admin-options .user-list {
	margin: 0 0 2px;
}

.saint-admin-options .page-list li, .saint-admin-options .user-list li {
	margin: 0 0 1px;
}

.saint-admin-options .page-list li a, .saint-admin-options .user-list li {

}

.saint-admin-options.page-options .saint-label, .saint-admin-options.user-options .saint-label {
	text-decoration: underline;
	display: block;
	margin: 5px 0 2px;
}

.saint-admin-options .category-list {
	margin: 0;
}

.saint-admin-options .category-list li {
	margin: 0;
}

.saint-admin-options ul {
	list-style: none;
	padding: 0;
	margin: 5px 0 10px;
}

.saint-admin-options ul li {
	display: block;
	margin-bottom: 10px;
	clear: both; }

.saint-admin-options input, .saint-admin-options select, .saint-admin-options textarea {
	border: 1px solid #333;
	width: 100%;
	margin: 2px 0 5px;
}

.saint-action-log span.name {
	font-weight: bold; }

.sublist .link {
	color: #333;
	font-weight: normal;
	text-decoration: none;
}

.sublist .link:hover {
	text-decoration: underline;
}

.settings .submit.link {
	display: block;
	margin: 2px 0 10px;
}

.saint-admin-block {
	position: fixed;
	height: 90%;
	left: 4%;
	right: 4%;
	border: 1px solid #333;
	background: #eee;
	z-index: 85;
	-moz-box-shadow: 0 0 10px 2px #195894;
	-webkit-box-shadow: 0 0 10px 2px #195894;
	box-shadow: 0 0 10px 2px #666;
	overflow: hidden;
}

.saint-admin-block .overlay {
	width: 100%;
	height: 100%;
	display: none;
	background: #eee url('../images/ajax-loader-large.gif') center center no-repeat;
	z-index: 95;
	position: absolute;
	left: 0;
	top: 0;
}

.saint-admin-block.loading .overlay {
	display: block;
}

.saint-admin-block.file-manager {
	top: 104%;
	z-index: 87;
	transition: all 600ms;
	-moz-transition: all 600ms;
	-webkit-transition: all 600ms;
	-o-transition: all 600ms;
}

.saint-admin-block.file-manager.active {
	top: 4%;
	z-index: 93;	
}

.saint-admin-block.add-block {
	top: -100%;
	z-index: 86;
	transition: all 600ms;
	-moz-transition: all 600ms;
	-webkit-transition: all 600ms;
	-o-transition: all 600ms;
}

.saint-admin-block.add-block.active {
	top: 4%;
}

.saint-admin-block.shop-manager {
	bottom: 104%;
	z-index: 85;
	transition: all 600ms;
	-moz-transition: all 600ms;
	-webkit-transition: all 600ms;
	-o-transition: all 600ms;
}

.saint-admin-block.shop-manager.active {
	bottom: 4%;
}

.saint-admin-block .load {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.saint-add-block-data {
	position: absolute;
	top: 0;
	left: 0;
	right: 309px;
	bottom: 0;
	overflow: auto;
	border-right: 1px solid #d1d1d1;
}

.saint-add-block-sidebar {
	position: absolute;
	height: auto;
	width: 289px;
	z-index: 90;
	overflow: auto;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 20px 0 0 20px;
}

#saint-file-info {
	margin-top: 25px;
}

.saint-add-block-sidebar ul.options {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #333;
	padding: 6px 0 0;
	margin: 0;
	height: 19px;
	list-style: none; }

.saint-add-block-sidebar ul.options li {
	display: inline;
	margin: 0 20px;
}

.saint-add-block-sidebar .saint-label {
	display: block;
	font-weight: bold;
	margin: 10px 0 2px;
}

.saint-admin-block.add-block .details, .saint-admin-block.add-block .details p {
	font-style: italic;
	font-size: 10px;
}

.saint-admin-block.add-block .details p {
	margin-bottom: 2px;
}

.saint-add-block-sidebar .details {
	display: block;
	width: 264px;
}

#sfm-bulk-actions {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px 10px 10px;
	background: #eee;
	display: none;
}

#sfm-bulk-actions .action {
	margin: 0 0 10px;
}

#sfm-bulk-actions .action .options {
	display: none;
	margin: 5px 0;
}

#sfm-bulk-actions .action > .saint-label {
	display: inline;
	margin: 0 0 0 5px;
}

#sfm-bulk-actions .action input[type=checkbox] {
	display: block;
	float: left;
	margin-top: 2px;
}

#saint-file-info h3.edit {
	display: none;
}

#saint-block-setting-SKU, #saint-block-setting-Price {
	width: 60px;
	text-align: right;
}

.saint-add-block-sidebar input, .saint-add-block-sidebar select, .saint-add-block-sidebar textarea {
	border: 1px solid #333;
	margin: 0;
	width: 264px;
}

.repeating {
	position: relative;
}

.add-button {
	position: absolute;
	border: 1px dotted #333;
	top: -23px;
	padding: 2px;
	height: 15px;
	right: 0px;
	font-weight: bold;
	color: red;
}

.add-button.inline {
	position: relative;
	border: none;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	padding: 0;
	color: #333;
	background: transparent;
}

.dark .add-button.inline {
	color: #ccc;
}

.edit-button {
	position: absolute;
	border-bottom: 1px dotted #333;
	border-left: 1px dotted #333;
	top: 0px;
	padding: 3px 3px 2px 2px;
	right: 0px;
	font-weight: bold;
	color: red;
	background: #fff;
}

.edit-button.inline {
	position: relative;
	border: none;
	padding: 0;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	color: #333;
	background: transparent;
}

.add-button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.edit-button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.editing .block-item > .edit-button {
	display: block;
	z-index: 50;
}

.editing .saint-image.editable img {
	border: 1px dotted red;
}

.editing .block-item {
	margin-bottom: 2px; }

.editing .saint-block > .add-button {
	display: block;
}

#saint-add-block-data .add-button, #saint-add-block-data .edit-button {
	display: none;
} 

#saint-add-block-data .block-item {
	border: none; }

.editing .saint-label.editable {
	border: 1px dotted red; }

.dark .editing .saint-label.editable {
	border-color: #6f0000;
}

.editing .block-item {
	border: 1px dotted #333; }

.dark .editing .block-item {
	border-color: #333;
}

.block-item {
	position: relative; }

.editing .saint-label.editable:hover {
	cursor: pointer; }

.block-name {
	font-style: italic; }

.saint-block .new {
	display: none; }

.saint-new-block {
	margin: 10px;
}

.blog-post {
	margin-bottom: 25px; }

.blog-post h3 {
	margin: 0;
}

.blog-post h6 {
	margin: 2px 0 10px;
	font-style: normal;
}

.blog-post h6 em {
	font-style: italic;
}

span.match {
	font-weight: bold; }

.saint-pager .saint-left-arrow {
	float: left; }

.saint-left-arrow {
	background: url('../images/left-arrow.png');
	height: 64px;
	width: 64px;
	display: block;
}
.saint-left-arrow:hover,.saint-right-arrow:hover {
	text-decoration: none; }

.saint-pager .saint-right-arrow {
	float: right; }

.saint-right-arrow {
	background: url('../images/right-arrow.png');
	height: 64px;
	width: 64px;
	display: block;
}

.saint-page-numbers {
	display: block;
	margin: 0 100px;
	padding: 25px 0 0;
	text-align: center;
}

.saint-page-numbers .current {
	font-weight: bold; }

.saint-search {
	text-align: left;
}

.saint-search input {
	margin-bottom: 2px;
	border: 1px solid #333; 
	width: 150px;
	float: left;
	margin-bottom: 4px;
}

.saint-search input.submit {
	margin-left: 5px;
	width: 30px;
	float: left;
}

.saint-search input.reset {
	color: #A3A9AE;
}

.saint-search .saint-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.saint-search-form {
}

.rss-feed-link {
	clear: both;
	padding: 1px 0 0 18px;
	min-height: 16px;
	display: block;
	background: url('../images/rss.png') top left no-repeat;
}

.saint-admin-overlay label {
	display: block;
	font-weight: bold;
}

.saint-admin-overlay .loading {
	background: url('../images/ajax-loader-large.gif') center center no-repeat;
}

.save_options {
	text-align: center; }

.saint-list-contracted > ul {
	display: none; }

.saint-list-expanded > ul {
	display: block; }

#saint-powered {
	clear: both;
	text-align: center;
	font-weight: bold;
	position: relative;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 25px;
	font-size: 1.2em;
}

.saint-wysiwyg {
	border: none;
	min-height: 10px;
}

.editing .saint-wysiwyg {
	border: 1px dotted red;
}

.mceLayout {
	width: 100%;
	height: 100%;
}

#saint-contact-info {
	width: 250px;
	float: right;
}

#saint-contact-info h3 {
	margin-top: 0;
}

#saint-contact-form label, #saint-contact-form .saint-label {
	display: block;
	width: 352px;
	font-weight: bold;
	margin-bottom: 1px;
}

#saint-contact-form ul {
	list-style: none;
	padding-left: 0;
}

#saint-contact-form input,textarea {
	border: 1px solid #333;
	margin-bottom: 10px;
}

#saint-contact-form input {
	width: 200px;
}

#saint-contact-form textarea {
	width: 350px;
	height: 100px;
}

#saint-contact-form label.error {
	margin: -10px 0 10px;
}

.saint-file-preview .saint-file {
	text-align: center;
	width: 200px;
	height: 180px;
	float: left;
	padding: 20px 0 0;
	position: relative;
	margin: 20px 0;
	cursor: default;
}

.saint-file-preview .image-container {
	display: block;
	position: absolute;
	top: 25px;
	left: 1px;
	right: 1px;
	bottom: 0;
	padding: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.saint-file-preview .saint-file.selected .image-container, .saint-file-preview .saint-file.reselected .image-container {
	border: 1px dotted #4791d7;
	padding: 0;
}

.saint-file-preview .saint-file.selected.deselected .image-container {
	border: none;
	padding: 1px;
}

.saint-file-preview img.link {
	max-width: 180px;
	max-height: 180px;
	height: auto;
	cursor: default;
}

.saint-file-preview h3 {
	position: absolute;
	width: 100%;
	height: 20px;
	overflow: hidden;
	top: 0;
	left: 0;
	margin: 0;
}

#saint-file-manager-data {
	
}

.sfm-editblock {
	position: fixed;
	top: 4%;
	height: 90%;
	left: 4%;
	right: 4%;
	padding: 1px 0;
	z-index: 89;
	background: #eee;
	border: 1px solid #333;
}

.sfm-editblock-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 309px;
	bottom: 0;
	z-index: 89;
	background: #eee;
	border-right: 1px solid #333;
}

.sfm-editblock img {
	max-width: 95%;
	height: auto;
	max-height: 95%;
	width: auto;
}

#saint-uploader {
	position: absolute;
	left: 0px;
	right: 0px;
	overflow: hidden;
	background: #ccc;
	border-bottom: 1px solid #333;
	background-repeat: no-repeat;
	background-image: url('../images/down-arrows.png');
	background-position: 0px -3px;
	top: 0;
	height: 17px;
	transition: all 250ms;
	-moz-transition: all 250ms;
	-webkit-transition: all 250ms;
	-o-transition: all 250ms;
	z-index: 94;
}

#saint-uploader.active {
	background-image: url('../images/up-arrows.png');
	background-position: 0px -1px;
	height: 200px;
	overflow: auto;
}

#saint-uploader h3 {
	font-size: 12px;
	height: 16px;
	padding: 1px 20px 0;
	margin: 0;
	border-bottom: 1px solid #333;
}

#saint-file-info textarea, #saint-file-info select {
	width: 264px;
	height: 100px;
}

#saint-file-info .form-options {
	text-align: center;
	width: 264px;
	margin-top: 20px;
	height: 30px;
}

#saint-file-info .form-options span {
	margin: 0 10px;
}

.sfm-pager .next, .sig-pager .next {
	margin-right: 10px;
	margin-top: 2px;
	float: right; }

.sfm-pager .previous, .sig-pager .previous {
	margin-left: 10px;
	margin-top: 2px;
	float: left; }

.sig-pager a {
	font-weight: bold; }

.sfm-page-numbers,.sig-page-numbers {
	display: block;
	margin: 0 100px;
	padding: 1px 0 0;
	text-align: center;
}

.sfm-pager {
	z-index: 88;
	position: absolute;
	width: 100%;
	height: 17px;
	background: #ccc;
	left: 0;
	overflow: hidden;
	border-style: solid;
	border-width: 0;
	border-color: #333;
}

body.dark .sfm-pager, body.dark #saint-uploader {
	background-color: #333;
	border-color: #ccc;
}

#sfm-top-pager {
	top: 0;
	border-bottom-width: 1px;
}

#sfm-bottom-pager {
	bottom: 0;
	border-top-width: 1px;
}

.saint_admin_file-list {
	min-height: 100%;
}

#sfm-preview-block {
	position: absolute;
	top: 18px;
	bottom: 18px;
	left: 0;
	right: 0;
	overflow: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sfm-message {
	position: absolute;
	width: 100%;
	top: 18px;
	background: #fff;
	color: red;
	font-weight: bold;
	text-align: center;
	height: 18px;
	padding: 6px 0 0;
	display: none;
	z-index:90;
	border-bottom: 1px solid #333;
}

#sfm-message.enabled {
	display: block;
}

#sfm-selector {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px dotted #333;
	z-index: 200;
}

#slides .pagination li {
	margin: 2px 5px;
	font-weight: bold;
	display: inline;
	list-style: none; }

.saint-image h6 {
	text-align: center;
	margin: 1px auto 5px; }

.saint-cart-item {
	clear: both; }

.saint-cart-item .saint-image {
	float: left; }

.saint-product .saint-image {
	float: right; }

.saint-product.list .saint-image {
	float: left;
}

.sbn-shop_product .block-item {
	float: left;
	width: 48%;
	margin-right: 1%;
}

.ssm.nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 17px;
	background: #ccc;
	overflow: hidden;
	border-bottom: 1px solid #333;
}

body.dark .ssm.nav-bar {
	background: #333;
}

.ssm.nav-bar ul {
	padding: 0;
	margin: 2px 0 0 4px;
}

.ssm.nav-bar ul li {
	display: inline;
	margin-right: 10px; }

.saint-admin-block.shop-manager .load {
	position: absolute;
	top: 25px;
	bottom: 0px;
	left: 5px;
	right: 5px;
	height: auto;
	overflow: auto;
}

.saint-admin-block.shop-manager .load h2 {
	margin: 2px 0 5px;
}

.saint-admin-block.shop-manager .load th {
	text-align: left;
}

.saint-admin-block.shop-manager .load th.date {
	width: 100px;
}

.saint-admin-block.shop-manager .load th.id {
	width: 100px;
}

.saint-admin-block.shop-manager .load th.paypal {
	width: 200px;
}

.saint-admin-block.shop-manager .load th.amount {
	width: 100px;
}

.saint-admin-block.shop-manager .load .edit-button {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 3px;
}

.saint-admin-block.shop-manager .load .amount {
	font-style: italic; }

#saint-paypal-buynow {
	margin: -7px 0 0;
	float: right;
}

.saint-cart-title, .saint-cart-total {
	font-size: 16px;
	font-weight: bold;
}

.saint-cart-items li {
	padding: 20px 0;
	clear: both; }

.saint-cart-items span {
	display: block;
	float: left;
	font-size: 14px;
}

.saint-cart-items .product-name {
	width: auto; }

.saint-cart-items .product-meta {
	text-align: right;
	float: right; }

.saint-cart-items .product-price {
	margin-right: 10px;
	width: auto; }

.saint-cart-items .product-number {
	margin-right: 10px;
	width: auto; }

.saint-cart-items .remove-from-cart {
	width: auto; }

.saint-cart-title {
	float: right;
	margin: 0 20px 0 0;
}

.saint-cart-items ul {
	list-style: none;
	padding: 0;
}

.ssm-discount h6 {
	margin: 0; }

#saint-product-individual .sbn-shop_product .block-item {
	float: none; }

.saint-product.list {
	position: relative;
	width: 190px;
	height: 200px;
	margin: 0 10px 10px 0;
	padding: 2px 7px 20px;
}

.saint-product.list h4 {
	margin: 0;
}

.saint-product.list h4 a {
	font-size: 16px;
}

.saint-product.list h4 a .price {
	float: right;
	font-style: italic;
}

.saint-product.list h6 {
	margin: 3px 0 0;
	float: left;
	font-weight: normal;
	text-align: center;
	display: block;
	width: 100%;
}

.saint-product.list h6 .discount {
	color: red;
}

.saint-product.list p {
	font-style: italic;
	margin: 0 0 10px;
}

.saint-product.list .saint-image {
	float: none;
	text-align: center;
	margin: 0 0 10px;
	border: none;
}

.saint-product.list .saint-image .title {
	display: none;
}

.ssm.meta-links {
	clear: both;
	text-align: center;
	margin-top: 10px;
	height: 20px;
}

.ssm.meta-links a {
	margin: 2px 5px;
}

.sbn-blog_post {
	width: 600px; }

.saint-new-block .sbn-blog_post {
	width: 100%; }

.blog-post.preview .content .saint-label {
	display: block;
	width: 100%;
	min-height: 300px;
	border: 1px dotted red;
}

.blog-post.preview .content .saint-label * {
	border: none;
}

.blog-post.preview .sbs-title {
	width: 100%; }

.saint-new-block .setting {
	border: 1px dotted green;
}

.saint-product.preview {
	width: 550px;
	margin-left: 10px; }

.saint-product.preview .saint-image {
	width: 128px;
}

.saint-product.preview .content .saint-label {
	display: block;
	min-height: 300px;
	width: 400px;
	border: 1px dotted red;
}

.saint-new-block .setting.block {
	display: block;
	min-height: 20px;
}

.inline-right {
	float: right;
	margin: 0 0 2px 10px;
}

.inline-left {
	float: left;
	margin: 0 10px 2px 0;
}

.three-column .column {
	width: 30%; }

.three-column .column h3 {
	margin: 0 auto 10px;
	text-align: center;
}

.three-column .left {
	float: left;
}

.three-column .center {
	margin: 0 auto;
}

.three-column .right {
	float: right;
}

.clear {
	clear: both;
}

.sle.active textarea {
	position: absolute;
	top: 20px;
	left: 1px;
	width: 396px;
	height: 176px;
}

.sle.active .mceEditor {
	position: absolute;
	top: 20px;
	left: 0px;
}

/*
.sle.active .toolbar ul {
	padding: 0;
	margin: 1px 0 0;
}

.sle.active .toolbar ul li {
	list-style: none;
	display: block;
	float: left;
	min-width: 20px;
	margin: 0 20px 0 0;
}*/

.sle.active .wysiwyg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
}

.sle.active .wysiwyg a {
	font-weight: bold;
	text-decoration: underline;
}

.sle.active .wysiwyg a:hover {
	cursor: pointer;
}

.sle.active {
	z-index: 90;
	position: fixed;
	width: 400px;
	height: 50px;
	background: #ccc;
	border: 1px solid #333;
	overflow: hidden;
	resize: both;
}

.dark .sle.active {
	background: #666;
}

.blackout {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 89;
	background: #333;
	filter: alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
	display: none;
}

body.sfm-active .blackout {
	z-index: 92;
}

body.sle-active {
	overflow: hidden; }

body.sle-active .blackout {
	display: block;
}

.sle {
	font-size: 1.4em;
}

.sle div.source {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none; }

.sle .toolbar {
	position: relative;
	margin: 0;
	width: 100%;
	height: 20px;
}

.sle .toolbar button {
	padding: 0;
	background: transparent;
	border: none;
	font-weight: normal;
	display: block;
	min-width: 16px;
	min-height: 20px;
	float: left;
}

.dark .sle .toolbar button {
	color: #111;
}

.sle .toolbar button:hover {
	text-decoration: none; }

.sle .toolbar select {
	margin: 1px 2px 0;
	display: block;
	float: left; }

.dark .sle .toolbar select {
	color: #111;
}

.sle .toolbar .save {
	width: 20px;
	height: 20px;
	background: url('../images/save.png');
}

.sle .toolbar .switch.source {
	width: 20px;
	height: 20px;
	background: url('../images/source-small.png');
}

.sle .toolbar .switch.visual {
	width: 20px;
	height: 20px;
	background: url('../images/image-small.png');
}

.sle .toolbar .bold {
	font-weight: bold; }

.sle .toolbar .italic {
	font-style: italic; }

.sle .toolbar .underline, .sle .toolbar button.underline:hover {
	text-decoration: underline; }

.sle .toolbar .a {
	width: 20px;
	height: 20px;
	background: url('../images/link.png');
}

.sle .toolbar .ul {
	width: 20px;
	height: 20px;
	background: url('../images/ul.png');
}

.sle .toolbar .ol {
	width: 20px;
	height: 20px;
	background: url('../images/ol.png');
}

.sle .toolbar .img {
	width: 20px;
	height: 20px;
	background: url('../images/image-small.png');
}

.sle .toolbar .heading {
	width: 90px;
}

.sle .toolbar .revision {
	width: 110px;
}

.sle .toolbar .close-button {
	position: absolute;
	right: 0;
	top: 0;
}

.sle .toolbar .link:hover {
	text-decoration: none;
}

.sle div.label-value {
	position: absolute;
	top: 22px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	overflow: auto;
	background: #fff;
	color: #333;
	border: 1px solid #333;
	padding: 2px 5px;
}

.dark .sle div.label-value {
	background: #333510;
	color: #ccc;
}

.sle div.label-value * {
	color: #333;
}

.sle.active .blackout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff url('../images/ajax-loader-large.gif') center center no-repeat;
	z-index: 91;
	display: none;
}

.sle.active.loading .blackout {
	display: block; }

.search-results h3 {
	margin: 10px 0 3px;
}

.search-results h3 a {
	text-decoration: underline;
}

.search-results h3 a:hover {
	text-decoration: none;
}

#blog-by-month-nav {
	margin: 20px 0;
}

#blog-by-month-nav h4 {
	margin-left: 5px; }

#blog-by-month-nav h4 a {
	font-weight: normal;
}

.subindex {
	margin-left: 10px;
}

.saint-errors {
	display: none;
}

.saint-notices {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 85;
	border-bottom: 1px solid #333;
}

.saint-notices p {
	margin: 5px 0;
	font-weight: bold;
}

.saint-user-status {
	text-align: center;
	font-size: 1.2em;
}

.saint-user-status a {
	font-weight: bold;
}

#content .user-edit-form ul {
	font-weight: bold;
	padding: 0;
}

#content .user-edit-form li:first-child {
	border-top: 1px dotted #999;
}

#content .user-edit-form li {
	list-style: none;
	clear: both;
	border-bottom: 1px dotted #999;
	padding: 5px 0;
}

#content .user-edit-form .hud {
	clear: both;
	text-align: right;
}

#content .user-edit-form input {
	float: right;
	border: 1px solid #999;
	margin: 0 0 5px;
}

@media (min-width: 625px) {
	.saint-file-preview .saint-file {
		width: 50%;
	}
}

@media (min-width: 800px) {
	.saint-file-preview .saint-file {
		width: 33%;
	}
}

@media (min-width: 1024px) {
	.saint-file-preview .saint-file {
		width: 25%;
	}
}

@media (min-width: 1280px) {
	.saint-file-preview .saint-file {
		width: 20%;
	}
}

@media (min-width: 1440px) {
	
}

@media (min-width: 2048px) {
	.saint-file-preview .saint-file {
		width: 10%;
	}
}